---
import { TECHNOLOGIES as T } from '@/consts.d'
import type { Project } from '@/types.d'
import Button from '@components/projects/Button.astro'
import Images from '@components/projects/Images.astro'
import TechnologyBadge from '@components/projects/TechnologyBadge.astro'
import GithubIcon from '@icons/Github.astro'
import PreviewIcon from '@icons/Preview.astro'

const projects: Project[] = [
  {
    name: 'Quizzie',
    desc: 'Easy-to-use quiz maker. Create your own quizzes and share them with others. You can also have fun playing existing ones, the answer is yours!',
    images: [
      './public/projects/quizzie-1.webp',
      './public/projects/quizzie-2.webp'
    ],
    tecnologies: [T.REACT, T.NODE, T.MONGODB],
    code: 'https://github.com/K3vnDev/quizzie',
    preview: 'https://quizzie-wb.netlify.app'
  },
  {
    name: 'IP Geolocation',
    desc: 'A website that tracks your IP address and displays it for you. It also includes a map and information about your estimated location.',
    images: ['./public/projects/ip-geolocation.webp'],
    tecnologies: [T.REACT, T.LEAFLET],
    code: 'https://github.com/K3vnDev/ip-geolocation',
    preview: 'https://ip-geolocation-kevdev.netlify.app'
  },
  {
    name: 'URL Shortener',
    desc: 'Shorten long and annoying URLs easily. Save your favorite websites on the dashboard and access their shortened links anytime.',
    images: ['./public/projects/url-shortener.webp'],
    tecnologies: [T.REACT, T.NODE, T.MONGODB],
    code: 'https://github.com/K3vnDev/u-sh',
    preview: 'https://url-shortener-ljsf.onrender.com'
  },
  {
    name: 'Timeline Creator',
    desc: 'Creating timelines has never been easier. Make and view as many timelines as you want with this simple yet versatile website.',
    images: [
      './public/projects/timeline-creator-1.webp',
      './public/projects/timeline-creator-2.webp'
    ],
    tecnologies: [T.REACT, T.TYPESCRIPT],
    code: 'https://github.com/K3vnDev/timeline-creator',
    preview: 'https://timeline-creator.netlify.app'
  }
]
---

<div class='grid [grid-template-columns:5fr_1fr_5fr] gap-9'>
  {
    projects.map(({ name, desc, code, preview, images, tecnologies }) => (
      <article
        class={`h-auto min-h-[310px] bg-[#222] relative first:col-span-2 last:col-span-2 rounded-xl border-2 border-[#444] p-12 overflow-hidden`}
      >
        <div class='w-[250px] flex flex-col h-full justify-between gap-4'>
          <section class='flex flex-col gap-2'>
            <span class='text-2xl font-bold text-white'>{name}</span>
            <ul class='flex gap-1 flex-wrap'>
              {tecnologies.map(tecnology => (
                <TechnologyBadge {...tecnology} />
              ))}
            </ul>
            <p class='text-sm text-pretty font-normal text-gray-300'>{desc}</p>
          </section>

          <section class='flex gap-2'>
            <Button
              href={code}
              projectName={name}
              label='Code'
              icon={GithubIcon}
            />
            <Button
              href={preview}
              projectName={name}
              label='Preview'
              icon={PreviewIcon}
            />
          </section>
        </div>

        <Images
          name={name}
          images={images}
        />
      </article>
    ))
  }
</div>
