---
interface Props {
  class?: string
  name: string
  src: string
  href: string
}

const { class: className, href, src, name } = Astro.props
---

<a
  href={href}
  aria-label=`Preview the project ${name}.`
  class=`overflow-hidden ${className}`
  rel='noopener noreferrer'
  target='_blank'
>
  <img
    class='object-cover h-full w-full transition-transform duration-300 group-hover:scale-[1.025]'
    src={src}
    alt=`Screenshot of the project ${name}.`
  />
</a>

<style>
  .default-image {
    @apply xl:block hidden absolute shadow-lg;
  }
  .aligned-rb {
    @apply right-0 bottom-0 rounded-tl-xl border-t border-l border-[#333];
  }
</style>
