---
import Button from '@@/project/Button.astro'
import Images from '@@/project/Images.astro'
import TechnologyBadge from '@@/project/TechnologyBadge.astro'
import { GithubIcon, PreviewIcon } from '@icons'
import type { Project } from '@types'

type Props = Project & {
  index: number
}

const { name, desc, tecnologies, code, preview, big, gif } = Astro.props
---

<article
  id='project'
  tabindex='0'
  role='link'
  class=`
    xl:bg-white/[.045] xl:border-2 border-[#555]/50 
    relative overflow-hidden first:col-span-2 last:col-span-2 rounded-xl 
    flex xl:flex-row md:flex-row-reverse flex-col-reverse 
    xl:p-12 p-3 xl:min-h-[19.375rem] xl:gap-0 md:gap-8 gap-4
    hover:brightness-110 transition group
  `
>
  <div
    class=`
      flex flex-col sm:h-full justify-between gap-3 
      xl:min-w-0 md:min-w-72 md:max-w-96 xl:w-64 md:gap-5 xl:p-0 md:py-6
    `
  >
    <section class='flex flex-col md:gap-3 xl:gap-2 gap-2'>
      <div class='flex md:flex-col xl:gap-2 md:gap-3 gap-x-4 gap-y-2 flex-wrap'>
        <span class='[font-size:1.625rem] font-bold text-white text-nowrap'>
          {name}
        </span>
        <ul class='flex gap-1 flex-nowrap items-center'>
          {tecnologies.map((tecnology) => <TechnologyBadge {...tecnology} />)}
        </ul>
      </div>
      <p class='text-sm text-pretty font-normal text-gray-300'>{desc}</p>
    </section>

    <section class='flex gap-2'>
      <Button href={code} projectName={name} label='Code' icon={GithubIcon} />
      <Button
        href={preview}
        projectName={name}
        label='Preview'
        icon={PreviewIcon}
      />
    </section>
  </div>

  <Images {...{ name, big, gif }} projectUrl={preview} />
</article>
